/*Navbar goes here*/
.logo{
  width: 100px;
  padding-left: 20px;
    font-family:'jersey 10';
    font-size: 50px;
    cursor: pointer;
    color: #dcf5fc;
    text-decoration: none;
}
@keyframes  color-change {
    0% {color: rgb(251, 118, 118);}
    7%{color: red;}
    14.2% {color: orange;}
    28.4% {color: yellow;}
    42.6% {color: green;}
    56.8% {color: blue;}
    70% {color: indigo;}
    84.2% {color: violet;}
    100%{color:whitesmoke}
}
.logo span{
    color: #d9e8ff;
    font-family: 'jersey 10';
    cursor: pointer;
    animation: color-change 50s infinite;
    transition: 0.3s ease-in-out;
}




* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #00b6c0b4;
  }
  .wrapper {
    top: 15px;
    background-color: #EEEEEE;
    width: 90%;
    position:relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 1.5em;
    height:fit-content;
    border-radius: 0.8em;
  }


.header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222831;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

/*image text animation goes here!*/
.img-text-animation{
    font-size: 30px;
    font-weight: 800;
    min-width: 450px;
    padding-bottom: 20px;
}
 .img-text-animation span{
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img-text-animation span::before{
    content: "";
    color:#021637;
    animation: words 20s infinite;
}
.img-text-animation span::after{
    content:"";
    background-color: #EEEEEE;
    position: absolute;
    width: calc(102%+1px);
    height: 100%;
    border-left: 3px solid black;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(25) infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid black;
    }
}
@keyframes words{
    0%,
    100%{
        content: "Upload your image here👇";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 10px);
    }
}



#drop-area{
    color:black;
    width: auto;
    height: 400px;
    padding:20px;
    background: #EEEEEE;
    text-align: center;
    justify-content: center;
}
#img-view{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px dashed black;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
    
}
  img {
    display: block;
    width: 80%;
    margin: auto;
  }
  .btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em 0 1.5em 0;
  }
  input,
  label,
  button {
    border: none;
    outline: none;
  }
  input[type="file"] {
    display: none;
  }
  label,
  button {
    display: block;
    font-size: 1.1em;
    background-color: #025bee;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 0;
    border-radius: 0.3em;
    cursor: pointer;
  }
  #result {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  #result div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #result input {
    background-color: transparent;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    color: #313b4c;
    border-bottom: 0.1em solid #021637;
  }
  #result button {
    position: absolute;
    right: 0.6em;
    background-color: transparent;
    color: #7c8696;
  }
  #picked-color-ref {
    grid-column: 2;
    grid-row: 1 / 3;
    border: 0.6em solid #d9e8ff;
    border-radius: 0.5em;
  }
  #custom-alert {
    transform: scale(0);
    transition: 0.5s;
    transform-origin: center;
    background-color: #d9e8ff;
    color: #025bee;
    text-align: center;
    padding: 0.5em;
    margin-top: 1.5em;
  }
  .hide {
    display: none;
  }
  #error {
    color: #ff725a;
    text-align: center;
  }


/* RESPONSOIVENESS */
@media only screen and (max-width: 479px) {
  .wrapper {
    width: 100%;
    padding: 1em;
  }
  .logo {
    width: 50px;
    font-size: 30px;
  }
  .img-text-animation {
    font-size: 20px;
    min-width: 300px;
  }
  #drop-area {
    height: 300px;
  }
  img {
    width: 50%;
  }
  .btns-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 90%;
    padding: 1.5em;
  }
  .logo {
    width: 70px;
    font-size: 40px;
  }
  .img-text-animation {
    font-size: 25px;
    min-width: 400px;
  }
  #drop-area {
    height: 350px;
  }
  img {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 80%;
    padding: 2em;
  }
  .logo {
    width: 90px;
    font-size: 50px;
  }
  .img-text-animation {
    font-size: 30px;
    min-width: 500px;
  }
  #drop-area {
    height: 400px;
  }
  img {
    width: 80%;
  }
}
  
